* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.rating-app {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  max-width: 50rem;
  width: 100%;

  padding: 1rem;
}

.rating-app__thank-you__title,
.rating-app__title {
  font-size: 3.2rem;
  line-height: normal;
}

.rating-app__description {
  font-size: 1.6rem;
}

.rating-app__buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 2rem;
}

.rating-app__button {
  width: 4rem;
  height: 4rem;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.rating-app__button--selected {
  background-color: #e85d04;
}

.rating-app__submit {
  padding-block: 1.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 20px;
}

.rating-app__thank-you {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating-app__thank-you__image {
  width: 15rem;
  height: auto;
}

.rating-app__thank-you__stat {
  display: flex;
  justify-content: center;

  margin-top: 2rem;
}

.rating-app__thank-you__stat__text {
  padding: 0.5rem 2rem;
  border: 1px solid #e85d04;
  text-align: center;
  background-color: #e85b0417;
  border-radius: 2rem;
  font-size: 1.2rem;
}

.rating-app__thank-you__title {
  margin-top: 1rem;
}

.rating-app__thank-you__text {
  font-size: 1.6rem;
  text-align: center;
}
