.card {
  background-color: #4b4b4b;
  padding: 2rem 1rem;
  border-radius: 2rem;
}

.card__header {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.card__header__title {
  font-size: 2.4rem;
}

.card__header__country {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  background-color: #fb8500;
  margin-inline: auto;
  border-radius: 0.5rem;
}

.card__content__temp-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.card__content__temp {
  font-size: 5rem;
  font-weight: 700;
}

.card__content__unit {
  font-size: 2.2rem;
}
