:root {
  --app--font--size: 1.6rem;
}

#root {
  max-width: 70rem;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2.4rem;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.app__content {
  display: grid;
  grid-template-columns: minmax(min-content, 40rem);
  justify-content: center;
}
